extends include/template

block title
	title Picture
block description
	+description('Just landing page')
block keywords
	+keywords('Just, some, keywords')

block css
	// build:css vendor.min.css
	+styles('')
	// endbuild
	// build:css main.min.css
	+styles('css/main.css', 'css/fonts.css')
	// endbuild

block content
	section.head
		.container
			.logo
			.head-content
				h1 Picture perfect
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. 
	section.info
		.container
			.info-wrap
				article
					+content('h2', 'Start something new', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex e commodo consequat. ', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex e commodo consequat.', 'Reaque ips quae ab illo inventore veritatis et quasi architecto beatae vitae dict sunt explicabo. Nemo enim ipsam voluptatem qui voluptas sit aspernatur aut odit aut fugit, sed qui consequuntur magni dolores eos qui ratione voluptatem.')
				article
					+content('', 'Nemo enim ipsam voluptatem qui voluptas sit aspernatur aut odit aut fugit, sed qui consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.', 'Neque porro quisquam est, qui dolorem ipsum qui dolor sit amet, consectetur, adipisci velit, sed qui non numquam eius modi tempor incidunt ut labore et dolore magnam aliquam quaerat voluptatem.')
			.info-content
				// Item 1
				.info-item
					+content('h3', 'Design and quality', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.')
					a(href="") Find Out more 
						span
				// /Item 1
				// Item 2
				.info-item
					+content('h3', 'Built to last', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.')
					a(href="") Find Out more 
						span.arrow
				// /Item 2
				// Item 3
				.info-item
					+content('h3', 'Our clients', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.')
					a(href="") Find Out more 
						span.arrow
					div
				// /Item 3
				// Item 4
				.info-item
					+content('h3', 'Sign up & see why', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.')
					a(href="") Find Out more 
						span.arrow
					div
				// /Item 4
				// Item 5
				.info-item
					+content('h3', 'Perfect pictures', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.')
					a(href="") Find Out more 
						span.arrow
				// /Item 5
			h2 A look at the details
			.info-content-2
				article
					+content('h5', 'Web based', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
				article
					+content('h5', 'Perfomance', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
				article
					+content('h5', 'Cultular', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
				article
					+content('h5', 'Sustainability', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
	section.power
		.container
			.power-content
				+content('h1', 'More power behind every pixel', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex e commodo consequat.')
				a(href="") See the options 
					span.arrow
	section.reasons
		.container
			.reasons-content
				article
				+content('h5', 'Web based', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
			article
				+content('h5', 'Perfomance', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
			article
				+content('h5', 'Cultular', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
	section.tarif
		.container
			.tarif-item
				span Legacy
				+content('h3', 'Get it solo', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris')
				button Buy now $9
				span.apple
				span.windows
			.tarif-item
				span Most popular
				+content('h3', 'Team plan', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris')
				button Buy now $18
				span.apple
				span.windows
	footer
		.container
			.footer-content
				+content('h5', 'Get in touch', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex e commodo consequat.')
			form
				h5 Stay in touch
				input(type='e-mail' placeholder='E-mail')
				button(type='submit')
					span
			nav
				h5 Resources
				+list('Tour', 'Customers', 'Pricing', 'New features', 'Education')
				h5 Features
				+list('Tour', 'Customers', 'Pricing', 'New features', 'Education')
				h5 How To's
				+list('Tour', 'Customers', 'Pricing', 'New features', 'Education')


block scripts
	//build:js vendor.min.js
	+scripts('')
	// endbuild
	//build:js main.min.js
	+scripts('js/main.js')
	// endbuild