extends include/template

block title
	title Picture
block description
	+description('Just landing page')
block keywords
	+keywords('Just, some, keywords')

block css
	// build:css vendor.min.css
	+styles('')
	// endbuild
	// build:css main.min.css
	+styles('css/main.css', 'css/fonts.css')
	// endbuild

block content
	section.head
		.container
			.head-content
				h1 Picture perfect
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	section.info
		.container
			.row
				.col-6
					article
						h2 Start something new
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
						p  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
				.col-6
					article
						p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
						p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
			.info-content
				// Item 1
				.info-item
					h2 Design adn Quality
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
					a Find Out more 
						span
				// /Item 1
				// Item 2
				.info-item
					h2 Design adn Quality
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
					a Find Out more 
						span.arrow
				// /Item 2
				// Item 3
				.info-item
					h2 Design adn Quality
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
					a Find Out more 
						span.arrow
					div
				// /Item 3
				// Item 4
				.info-item
					h2 Design adn Quality
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
					a Find Out more 
						span.arrow
					div
				// /Item 4
				// Item 5
				.info-item
					h2 Design adn Quality
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
					a Find Out more 
						span.arrow
				// /Item 5
			h2 A look at the details
			.col-3
				article
					h5 Web based
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			.col-3
				article
					h5 Performance
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			.col-3
				article
					h5 Cultral
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			.col-3
				article
					h5 Sustainability
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
	section.power
		.container
			.power-content
				h1 More power behind every pixel
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				a See the options 
					span.arrow
	section.reasons
		.container
			.reasons-content
				.col-4
					article
					h5 Web based
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.col-4
					article
					h5 Web based
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.col-4
					article
					h5 Web based
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	section.tarif
		.container
			.col-6
				.tarif-item
					span Legacy
					h2 Get it solo
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					button Buy now $9
					span.apple
					span.windows
			.col-6
				.tarif-item
					span Most popular
					h2 Team plan
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					button Buy now $18
					span.apple
					span.windows
	footer
		.container
			.col-6
			h5 Get in touch
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.col-6
			h5 Stay in touch
			form
				input(type='e-mail' placeholder='E-mail')
				button(type='submit')
					span
			nav
				h5 Resources
				+list('Tour', 'Customers', 'Pricing', 'New features', 'Education')
				h5 Features
				+list('Tour', 'Customers', 'Pricing', 'New features', 'Education')
				h5 How To's
				+list('Tour', 'Customers', 'Pricing', 'New features', 'Education')


block scripts
	//build:js vendor.min.js
	+scripts('')
	// endbuild
	//build:js main.min.js
	+scripts('js/main.js')
	// endbuild